body {
    background-image: url('img/loginbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    width: 430px;
    height: 500px;
    position: absolute;
    /*transform: translate(-50%,-50%);*/
    left: 50%;
    top: 50%
}

    .background .shape {
        height: 520px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient( #1845ad, #23a2ff6 );
    right: -80px;
    bottom: -80px;
}

.shape:last-child {
    background: linear-gradient( to right, #ff512, #f09819);
    right: -30px;
    bottom: -80px;
}

form {
    height: 400px;
    width: 348px;
    /*background-color: rgba(255,255,255,0.1);*/
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 1%;
    left: 1%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.7);
    padding: 50px 35px;
}

    form * {
        font-family: 'Poor Richard',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 95%;
    /*background-color: rgba(255,255,255,0.07);*/ background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}


#loginbtn {
    margin-top: 50px;
    width: 100%;
    /*background-color: #ffffff;
    color: #080710;*/
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.pass a {
    color: #16dda6;
    text-decoration: none;
    font-size: 12px;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

    .message a {
        color: #16dda6;
        text-decoration: none;
    }

